@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700;800&display=swap");
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}
h1,
p {
  margin: 0;
}
/* start of header section */
.header {
  margin: 0 auto;
  max-width: 1588px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}
.child2__ul {
  display: flex;
  padding: 0;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  color: #181818;
}
.header a {
  list-style: none;
  margin-right: 56px;
}
a:last-child {
  margin-right: 0;
}
.child2__ul a {
  text-decoration: none;
  color: black;
}
.header button {
  background-image: url(/src/assets/images/arrow.jpg);
  height: 23px;
  width: 23px;
  border-style: none;
  cursor: pointer;
}
.child2-arrow {
  display: flex;
  justify-content: flex-start;
  margin-right: 56px;
}

/* end of header section */

/* start of Title section */
.title {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1588px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.title-child1 span {
  color: #f59626;
}

.title-child1 h2 {
  font-weight: 600;
  font-size: 76px;
  line-height: 76px;
  margin-bottom: 15px;
}
.title-child1 h1 {
  position: absolute;
  font-weight: 800;
  font-size: 200px;
  line-height: 179px;
  color: #f9f9f9;
  width: 1336px;
  z-index: -1;
  top: 260px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.title-child1 p {
  max-width: 650px;
  color: #aaa8a8;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 46px;
}

.title-child1 button {
  width: 370px;
  height: 76px;
  color: white;
  background-color: #b479f8;
  border-style: none;
  border-radius: 10px;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
}
.title-child2 {
  width: 851px;
  height: 695px;
}
.title-child2 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* end of Title section */

/* triplet */

.services-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1294px;
}

.services-child {
  width: 396px;
  height: 347px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.services-child1 {
  margin: 0 auto;
  text-align: center;
  margin-top: 34px;
  height: 279px;
  max-width: 341px;
}
.services-child1 img {
  margin-bottom: 12px;
}
.services-child1 h1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 18px;
}

.services-child1 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 35.5px;
}
.services-line {
  margin: 0 auto;
  border-style: solid;
  color: #f59626;
  border-width: 2px;
  max-width: 214px;
  margin-bottom: 20px;
}

.services-child1 a {
  text-decoration: none;
  background-color: #e0c8fc;
  border-radius: 5px;
  padding: 13.5px 56.5px;
  color: #9a4af6;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

/* end of triplet */

/* attendance start */
.attendance {
  background: url(/src/assets/images/background1.jpg);
  max-width: 1895px;
}
.attendance-wrapper {
  margin: 0 auto;
  max-width: 1588px;
}
.container1 h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}
.container1 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.container1-underline {
  display: inline-block;
  border-style: solid;
  width: 111px;
  border-width: 2px;
  color: #9a4af6;
  margin-right: 21px;
}
.attendance-p {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #9a4af6;
  margin-bottom: 68px;
}

.attendance-grid {
  display: grid;
  grid-template-columns: repeat(3, 396px);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 63px;
  margin: 0 auto;
  max-width: 1314px;
}
.grid-elem {
  border-radius: 20px;
  background-color: white;
  max-width: 396px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid-elem img {
  margin-bottom: 24px;
}

.grid-text {
  margin: 0 auto;
  text-align: center;
  max-width: 333px;
}

.grid-text h1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 11px;
}
.grid-line {
  margin: 0 auto;
  border-style: solid;
  max-width: 214px;
  border-width: 2px;
  color: #f59626;
  margin-bottom: 18px;
}
.grid-text p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #636363;
  margin-bottom: 24px;
  text-align: left;
}
.grid-text a {
  display: block;
  margin-bottom: 26px;
  color: #9a4af6;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

/* attendance end */

/* work */
.section {
  max-width: 1507px;
  margin: 0 auto;
}

.work {
  max-width: 1895px;
  margin: 0 auto;
}
.work-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1507px;
  margin: 0 auto;
}
.work-flex__child1 {
  text-align: center;
  max-width: 676px;
  margin-bottom: 39px;
}
.work-flex__child1 img {
  margin-bottom: 39px;
}
.work-flex__child1 button {
  width: 313px;
  height: 59px;
  color: white;
  background-color: #F8AA4E;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  border-style: none;
  border-radius: 8px;
}
.work-flex__child3 {
  margin: 0 auto;
  max-width: 636px;
  margin-top: 37px;
}
.work-flex__child3 button {
display: flex;
justify-content: center;
align-items: center;
  width: 313px;
  height: 59px;
  color: white;
  background-color: #B479F8;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  border-style: none;
  border-radius: 8px;
}
.work-flex__child3 label {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 17px;
}
.label-text {
  margin-bottom: 17px;
}

.work-flex__child3 input[type=text] {
  background-color: #F6F6F6;
  padding: 12px 20px;
  border-radius: 4px;
  border-style: none;
  color: #B7B7B7;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 29px;
  width: 596px;
}
.work-flex__child2 {
  width: 744px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  margin-bottom: 37px;
}
.form-buttons {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #AAA8A8;
  width: 744px;

}

.form-buttons label {
   display: block; 
  text-align: center;

}
.form__button1 {
  display: block;
  max-width: 372px;
  height: 74px;
  background-color: #F4F4F4;
  flex-grow: 1;
}
.form__button2 {
  display: block;
  max-width: 372px;
  height: 74px;
  background-color: #F4F4F4;
  flex-grow: 1;
}
.last-label {
  color: #636363;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;

}
.last-checkbox {
  margin-bottom: 33px;
}
.work-form button {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 36px;
}

/* end of work */
.blog-flex {
  margin: 0 auto;
  max-width: 1589px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 63px;
}
.blog-child {
 width: 516px;
  background-color: rgba(180, 121, 248, 0.84);
  height: 134px;
  border-radius: 0px 0px 17px 17px;
  opacity: 84%;
  position: absolute;
  top: 320px;
}
.blog-flex__elem1 {
  position: relative;
}
.blog-child1 {
  margin: 0 auto;
  max-width: 450px;
}
.blog-child1 h1{
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 350px;
  padding-top: 40px;
  margin-bottom: 16px;
}
.blog-child1 p{
  display: inline-block;
  color: #FFFFFF;
  margin-right: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.blog-child1 img {
  margin-right: 10px;
  display: inline-block;
  vertical-align: baseline;
  border-radius: 30px;
}

.blog-child2 p{
  display: inline-block;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  padding: 12px 12px;
  background-color: #F59626;
  margin-right: 13px;
  position: absolute;
  top: 25px;
}
.lastP {
  margin-left: 163px;
}
.link-tag {
  max-width: 1895px;
  text-align: center;
  margin-bottom: 163px;
}

.link-tag a {
  margin: 0 auto;
  background-color: #F8AA4E;
  padding: 19px 58px;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: #FFFFFF;
  border-radius: 8px;
  cursor: pointer;
  
}
.footer {
  background-color: #131313;
  padding-top: 46px;
  padding-bottom: 57px;
}
.footer p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 12px;  
}
.footer-flex {
  margin: 0 auto;
  max-width: 1589px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footer-flex__elem1 {
  text-align: left;
}
.footer-flex__elem1 img {
  margin-bottom: 17px;
}
.footer-flex__elem2 {
  text-align: center;
}
.footer-flex__elem3 {
  text-align: right;
  max-width: 305px;
}
.footer-flex__elem2 img{
  margin-right: 11px;
}
