@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}
h1,
p {
  margin: 0;
}
/* start of header section */
.header {
  margin: 0 auto;
  max-width: 1588px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header-child2__ul {
  display: flex;
  padding: 0;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  color: #181818;
}
/* font-size: 25px; */
.header a {
  list-style: none;
  margin-right: 56px;
}
a:last-child {
  margin-right: 0;
}
.header-child2__ul a {
  text-decoration: none;
  color: black;
}
.header button {
  background-image: url(/src/assets/images/arrow.jpg);
  height: 23px;
  width: 23px;
  border-style: none;
  cursor: pointer;
  margin-left: 1px;
}
.header-child2-arrow {
  display: flex;
  justify-content: flex-start;
  margin-right: 56px;
  align-items: center;
}

/* start of Title section */
.title-wrapper {
  max-width: 1588px;
  margin: 0 auto;
  margin-bottom: 138px;
}
.title {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1588px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.title-child1 span {
  color: #f59626;
}

.title-child1 h2 {
  font-weight: 600;
  font-size: 76px;
  line-height: 76px;
  margin-bottom: 15px;
}
.title-child1 h1 {
  position: absolute;
  font-weight: 800;
  font-size: 200px;
  line-height: 179px;
  color: #f9f9f9;
  z-index: -1;
  object-fit: contain;
  transform: translateY(-38px);
}

.title-child1 p {
  max-width: 650px;
  color: #aaa8a8;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 46px;
}

.title-child1 button {
  width: 370px;
  height: 76px;
  color: white;
  background-color: #b479f8;
  border-style: none;
  border-radius: 10px;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
}
.title-child2 {
  width: 851px;
  height: 695px;
}
.title-child2 img {
  height: auto;
  width: 100%;
}

/* triplet */
.services {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1294px;
  transform: translateY(-77px);
}

.services-child {
  width: 396px;
  height: 347px;
  border-radius: 20px;
  box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.14);
  background-color: white;
}
.services-child__elem {
  margin: 0 auto;
  text-align: center;
  margin-top: 34px;
  height: 279px;
  max-width: 341px;
}
.services-child__elem img {
  margin-bottom: 12px;
}
.services-child__elem h1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 18px;
}

.services-child__elem p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
}
.services-line {
  margin: 0 auto;
  border-style: solid;
  color: #f59626;
  border-width: 2px;
  max-width: 214px;
  margin-bottom: 20px;
}
.services-child__elem a {
  color: #9a4af6;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
}
.services__a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #e0c8fc;
  border-radius: 10px;
  max-width: 282px;
  margin: 0 auto;
  height: 51px;
  cursor: pointer;
}

/* attendance start */
.ourservices {
  margin: 0 auto;
  background: url(/src/assets/images/background1.jpg);
  max-width: 1895px;
}
.ourservices-wrapper {
  margin: 0 auto;
  max-width: 1588px;
}
.headline {
  margin: 0 auto;
  max-width: 1596px;
}
.headline-child1 {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.headline-child1 h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}
.headline-underline {
  display: inline-block;
  border-style: solid;
  width: 111px;
  border-width: 2px;
  color: #9a4af6;
  margin-right: 21px;
}
.headline-child2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #9a4af6;
  margin-bottom: 68px;
  text-transform: uppercase;
}
#headline-p {
  color: #9a4af6;
}

.ourservices-grid {
  display: grid;
  grid-template-columns: repeat(3, 396px);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 63px;
  margin: 0 auto;
  max-width: 1314px;
  margin-bottom: 280px;
}

.services-flex {
  margin: 44px 31px;
  border-radius: 20px;
  background-color: white;
  max-width: 396px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.grid-elem {
  border-radius: 20px;
  background-color: white;
  max-width: 396px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid-elem img {
  margin-bottom: 24px;
}

.grid-text {
  margin: 0 auto;
  text-align: center;
  max-width: 333px;
}

.grid-text h1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 11px;
}
.grid-line {
  margin: 0 auto;
  border-style: solid;
  max-width: 214px;
  border-width: 2px;
  color: #f59626;
  margin-bottom: 18px;
}
.grid-text p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #636363;
  margin-bottom: 24px;
  text-align: left;
}
.grid-text a {
  display: block;
  margin-bottom: 26px;
  color: #9a4af6;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
/* us start  */

.us-wrapper {
  margin: 0 auto;
  max-width: 1610px;
  height: 828px;
  position: relative;
}
.us-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.us-child1 {
  max-width: 646px;
  margin-right: 15px;
}
.us-paragraph p {
  display: inline;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #181818;
  max-width: 591px;
}
.us-child1 img {
  margin-right: 25px;
  display: inline-block;
}
.us-paragraph {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 33px;
}
.us-a {
  margin-top: 81px;
  margin-bottom: 81px;
  text-align: center;
}
.us-child1 a {
  padding: 21px 49px;
  background-color: #b479f8;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}
.us-child2 {
  position: absolute;
  right: -60px;
  top: -100px;
}

.us-child2__elem1 {
  position: absolute;
  top: 0;
  right: -25px;
  transform: translateY(-130px);
}
.us-child2__elem2 {
  position: absolute;
  top: 103px;
  right: 262px;
}
.us-child2__elem3 {
  position: absolute;
  top: 344px;
  right: 645px;
}
.us-child2__elem4 {
  position: absolute;
  top: 632px;
  right: 351px;
}
.us-child2__elem5 {
  position: absolute;
  top: 515px;
  right: 0;
}

/* work */
.section {
  max-width: 1596px;
  margin: 0 auto;
}
.work-wrapper {
  margin: 0 auto;
  max-width: 1698px;
  position: relative;
}
.flower-img {
  position: absolute;
  right: -53px;
  bottom: -130px;
}
.work {
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 1507px;
  flex-wrap: wrap;
  margin-bottom: 196px;
  justify-content: space-between;
}
.work-child1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 744px;
}
.work-child2 {
  box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.07);
}
.work-child3 {
  display: flex;
  flex-direction: row;
  max-width: 744px;
  height: 74px;
  text-align: center;
  align-items: center;
  background-color: #f4f4f4;
  margin-bottom: 37px;
}
.work-child4 {
  display: flex;
  margin: 0 auto;
  max-width: 636px;
  flex-direction: column;
}
.work-child4__elem2 {
  height: 55px;
  border-style: none;
  border-radius: 4px;
  max-width: 636px;
  background-color: #f6f6f6;
  padding: 0 26px;
  margin-bottom: 29px;
}
.work-child4__elem2::placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  height: 55px;
  max-width: 636px;
  background-color: #f6f6f6;
}
.work-child4__elem4 {
  height: 117px;
  border-style: none;
  border-radius: 4px;
  max-width: 636px;
  background-color: #f6f6f6;
  padding: 0 26px;
  margin-bottom: 29px;
}
.work-child4__elem4::placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  height: 55px;
  max-width: 636px;
  background-color: #f6f6f6;
  text-align: start;
  align-items: flex-start;
}
.work-child4__elem6 {
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  color: #636363;
  margin-left: 43px;
}
.work-child5 {
  display: inline-flex;
  position: relative;
  align-items: center;
  margin-bottom: 33px;
}
.work-child4 button {
  background-color: #b479f8;
  border-radius: 8px;
  border-style: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  margin: 0 auto;
  margin-bottom: 26px;
  height: 59px;
  width: 313px;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
}

.work-link {
  margin: 0 auto;
  padding: 18px 56px;
  background-color: #f8aa4e;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
  transform: translateY(-20px);
}
.work-link a {
  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
}
.work-child3__elem1 {
  color: #aaa8a8;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  background-color: #f4f4f4;
  border-radius: 6px 6px 0px 0px;
  cursor: pointer;
  width: 372px;
}
.work-child3__elem2 {
  color: #aaa8a8;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  background-color: #f4f4f4;
  border-radius: 6px 6px 0px 0px;
  cursor: pointer;
  width: 372px;
}
.work-child4__elem1,
.work-child4__elem3 {
  color: #181818;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 17px;
}

/* end of work */
.blog-flex {
  margin: 0 auto;
  max-width: 1589px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 63px;
}
.blog-child {
  width: 516px;
  background-color: rgba(180, 121, 248, 0.84);
  height: 134px;
  border-radius: 0px 0px 17px 17px;
  opacity: 84%;
  position: absolute;
  top: 320px;
}
.blog-flex__elem1 {
  position: relative;
}
.blog-child1 {
  margin: 0 auto;
  max-width: 450px;
}
.blog-child1 h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  max-width: 350px;
  padding-top: 40px;
  margin-bottom: 16px;
}
.blog-child1 p {
  display: inline-block;
  color: #ffffff;
  margin-right: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.blog-child1 img {
  margin-right: 10px;
  display: inline-block;
  vertical-align: baseline;
  border-radius: 30px;
}

.blog-child2 p {
  display: inline-block;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  padding: 12px 12px;
  background-color: #f59626;
  margin-right: 13px;
  position: absolute;
  top: 25px;
}
.blog-child3 {
  display: inline-flex;
  align-items: center;
}
.lastP {
  margin-left: 163px;
}
.link-tag {
  margin: 0 auto;
  max-width: 1895px;
  text-align: center;
  margin-bottom: 163px;
}

.link-tag a {
  margin: 0 auto;
  background-color: #f8aa4e;
  padding: 19px 58px;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
/* offers */
.offers-wrapper {
  margin: 0 auto;
  max-width: 1698px;
  position: relative;
}
.offers-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1593px;
  justify-content: space-between;
  margin-bottom: 187px;
}
.offers {
  position: relative;
}
.offers-text {
  max-width: 202px;
  position: absolute;
  top: 52px;
  left: 44px;
}
.offers-text h1 {
  max-width: 193px;
  font-weight: 800;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.offers-text p {
  max-width: 164px;
  font-weight: 400;
  color: #9a4af6;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}
.offers-left {
  position: absolute;
  top: 180px;
  height: 89px;
  width: 89px;
  border-radius: 50%;
  border-style: none;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.offers-right {
  position: absolute;
  top: 180px;
  right: 0;
  height: 89px;
  width: 89px;
  border-radius: 50%;
  border-style: none;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.offers-left img {
  margin-top: 10px;
}
.offers-right img {
  margin-top: 10px;
}
.us-child2__elem7 img {
  margin-top: 10px;
}
.us-child2__elem6 img {
  margin-top: 10px;
}
.work-child4__elem5 {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  border-radius: 6px;
  border: 1px solid #f59626;
  background-color: #ffffff;
}
.checkmark:hover {
  background-color: #f6f6f6;
}
.work-child5 input:checked ~ .checkmark {
}

.us-child2__elem6 button {
  position: absolute;
  top: 359px;
  right: 603px;
  height: 89px;
  width: 89px;
  border-radius: 50%;
  border-style: none;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.us-child2__elem7 button {
  position: absolute;
  top: 359px;
  right: 240px;
  height: 89px;
  width: 89px;
  border-radius: 50%;
  border-style: none;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* footer */
.footer {
  background-color: #131313;
  padding-top: 46px;
  padding-bottom: 57px;
  max-width: 1895px;
  margin: 0 auto;
}
.footer p {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 12px;
}
.footer-flex {
  margin: 0 auto;
  max-width: 1589px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footer-flex__elem1 {
  text-align: left;
}
.footer-flex__elem1 img {
  margin-bottom: 17px;
}
.footer-flex__elem2 {
  text-align: center;
}
.footer-flex__elem3 {
  text-align: right;
  max-width: 305px;
}
.footer-flex__elem2 img {
  margin-right: 11px;
}

/* dropdown */

.drop-wrapper {
  margin: 0 auto;
  max-width: 1885px;
}
.drop-flex {
  display: flex;
  justify-content: flex-start;
  max-width: 1517px;
  margin: 0 auto;
}

.drop-child1 {
  background-color: #F6F6F6;
}
.drop-child1__ul {
  padding: 0;
}
.drop-child1__ul li {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  list-style-type: none;
}



/* media */

@media (max-width: 1541px) {
  .title {
    justify-content: center;
    flex-direction: column;
  }
  .title-child1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1187px) {
  .services {
    justify-content: center;
  }
}
@media (max-width: 1553px) {
  .offers-flex {
    justify-content: center;
  }
}
@media (max-width: 1442px) {
  .work {
    justify-content: center;
  }
}
@media (max-width: 1547px) {
  .blog-flex {
    justify-content: center;
  }
}
@media (max-width: 833px) {
  .footer-flex {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1464px) {
  .title-child1 h1 {
   text-align: center;
   margin: 0 auto;
  }
 }
 @media (max-width: 1513px) {
  .us-child2,.offers-margin {
   margin-top: 800px;
  }
 }
 @media (max-width: 1513px) {
  .us-container {
    flex-direction: column;
  }
 }
 
 
 



/* медиа по шаблону */

@media (max-width: 360px) {
   .title-child1 h1 {
     display: block;
   }
  }